[submodule "python/micropython-sht30"]
	path = python/micropython-sht30
	url = https://github.com/rsc1975/micropython-sht30
[submodule "python/sht30"]
	path = python/sht30
	url = https://github.com/rsc1975/micropython-sht30
