SUBSYSTEM=="tty", GROUP="plugdev", MODE="0660" ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="wemos%n"

